:root {
--bg-color: #1a1b26;    
  --main-title: #7aa2f7;   
  --text-level2: #9ece6a; 
  --text-level3: #f7768e;  
}

body {
    background-color: var(--bg-color);
    color: var(--text-untyped);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}

main {
    width: 100%;
    max-width: 1000px;       
    display: flex;
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  left: -2;
  background-color: #7AA2F7;
  animation: blink 1s steps(1) infinite;
  position:absolute;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.typing-text span {
    font-size: 45px;
    position: relative;
    display: inline-block;
}

input {
    opacity: 0;
    pointer-events: none;
}

.accuracy {
    font-size: 25px;
    color: var(--text-level2);
}

.mainTitle {
    color:var(--main-title);
    font-size: 40px;
}

.leaderboardInfo{
    color: #01796F;
}

.navigationInfo {
    color: var(--text-level2);
}

.second {
    color:#9C9CAB;
    font-size: 30px;
}

.results {
    color: var(--main-title);
    text-align: center;
    font-size: 60px;
}