body {
    background-color: #2D2D34;
    color: #555562;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}
.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.typing-text{
    font-size: 50px;
}

h1 {
    color:#C8C8D0;
    font-size: 40px;
}

.second {
    color:#9C9CAB;
    font-size: 30px;
}
input {
    margin-top: 150px;
    display: block;
    margin: 0 auto;
}
h2 {
    text-align: center;
    font-size: 60px;
    color: #01796F;
}
.input-container {
  margin-top: 30px;
}