body {
    background-color: #2D2D34;
    color: #555562;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}

main {
    width: 100%;
    max-width: 1000px;       
    display: flex;
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}
.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  left: -2;
  background-color: white;
  animation: blink 1s steps(1) infinite;
  position:absolute;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.typing-text span {
    font-size: 45px;
    position: relative;
    display: inline-block;
}

h1 {
    color:#C8C8D0;
    font-size: 40px;
}

.second {
    color:#9C9CAB;
    font-size: 30px;
}
input {
    opacity: 0;
    pointer-events: none;
}
h2 {
    text-align: center;
    font-size: 60px;
    color: #01796F;
}

.accuracy {
    font-size: 25px;
}